@model PinewoodGrow.Models.Member

@{
	ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.FullName)</h1>

<div>
    <br />
    <div class="table-responsive-lg">
        <table class="table table-striped">
            <thead>
                <tr>
                    @*<th scope="col">@Html.DisplayNameFor(model => model.MemNumber)</th>*@
                    <th scope="col">@Html.DisplayNameFor(model => model.FullName)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.AgeSummary)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Gender)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Email)</th>
                    @*<th scope="col">@Html.DisplayNameFor(model => model.Address.FullAddress)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Address.City)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Address.PostalCode)</th>*@
                    <th scope="col">@Html.DisplayNameFor(model => model.Telephone)</th>
                    @*<th scope="col">@Html.DisplayNameFor(model => model.CreatedOn)</th>*@
                </tr>
            </thead>
            <tbody>
                <tr>
                    @*<td>@Html.DisplayFor(model => model.MemNumber)</td>*@
                    <td>@Html.DisplayFor(model => model.FullName)</td>
                    <td>@Html.DisplayFor(model => model.AgeSummary)</td>
                    <td>@Html.DisplayFor(model => model.Gender.Name)</td>
                    <td>@Html.DisplayFor(model => model.Email)</td>
                    @*<td>@Html.DisplayFor(model => model.Address.FullAddress)</td>
                    <td>@Html.DisplayFor(model => model.Address.City)</td>
                    <td>@Html.DisplayFor(model => model.Address.PostalCode)</td>*@
                    <td>@Html.DisplayFor(model => model.TelephoneFormatted)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <br />
    <div class="table-responsive-lg">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th>Family Situation</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.MemberSituations)</th>
                    <td>
                        @{ int sitCount = Model.MemberSituations.Count;
                                        if (sitCount > 0)
                                        {
                                            string firstSit = Model.MemberSituations.FirstOrDefault().Situation.Name;
                                            if (sitCount > 1)
                                            {
                                                string sitList = firstSit;
                                                var s = Model.MemberSituations.ToList();
                                                for (int i = 1; i < sitCount; i++)
                                                {
                                                    sitList += ", " + s[i].Situation.Name;
                                                }
                            <a tabindex="0" class="" role="button" data-toggle="popover"
                               data-trigger="focus" title="Situations" data-placement="bottom"
                               data-content="@sitList">
                                @firstSit... <span class="badge badge-info">@sitCount</span>
                            </a> }
                                            else
                                            {
                            @firstSit }
                                        } }
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Income)</th>
                    <td>@Html.DisplayFor(model => model.Income)</td>
                </tr>
                @*<tr>
                    <th>@Html.DisplayNameFor(model => model.FamilySize)</th>
                    <td>@Html.DisplayFor(model => model.FamilySize)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Household)</th>
                    <td>@Html.DisplayFor(model => model.Household.ID)</td>
                </tr>*@
                @*<tr>
                    <th>@Html.DisplayNameFor(model => model.CompletedBy)</th>
                    <td>@Html.DisplayFor(model => model.CompletedBy)</td>
                </tr>*@
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Volunteer)</th>
                    <td>@Html.DisplayFor(model => model.Volunteer.Name)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CompletedOn)</th>
                    <td>@Html.DisplayFor(model => model.CompletedOn)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <div class="table-responsive-lg">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="table-responsive-lg">Additaional Information</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Notes)</th>
                    <td>@Html.DisplayFor(model => model.Notes)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.MemberDietaries)</th>
                    <td>
                        @{
                            int condCount = Model.MemberDietaries.Count;
                            if (condCount > 0)
                            {
                                string firstCond = Model.MemberDietaries.FirstOrDefault().Dietary.Name;
                                if (condCount > 1)
                                {
                                    string condList = firstCond;
                                    var c = Model.MemberDietaries.ToList();
                                    for (int i = 1; i < condCount; i++)
                                    {
                                        condList += ", " + c[i].Dietary.Name;
                                    }
                                    <a tabindex="0" class="" role="button" data-toggle="popover"
                                       data-trigger="focus" title="Dietart Conditions" data-placement="bottom"
                                       data-content="@condList">
                                        @firstCond... <span class="badge badge-info">@condCount</span>
                                    </a>
                                }
                                else
                                {
                                    @firstCond
                                }
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.MemberDocuments)</th>
                    <td>
                        @{
                            int fileCount = Model.MemberDocuments.Count;
                            if (fileCount > 0)
                            {
                                var firstFile = Model.MemberDocuments.FirstOrDefault(); ;
                                if (fileCount > 1)
                                {
                                    <a class="" role="button" data-toggle="collapse" href="#collapseDocs@(Model.ID)" aria-expanded="false" aria-controls="collapseDocs@(Model.ID)">
                                        <span class="badge badge-info">@fileCount</span> Documents...
                                    </a>
                                    <div class="collapse" id="collapseDocs@(Model.ID)">
                                        @{
                                            foreach (var d in Model.MemberDocuments)
                                            {
                                                <a asp-action="Download" asp-route-id="@d.ID">@d.FileName</a> <br />
                                            }
                                        }
                                    </div>
                                }
                                else
                                {
                                    <a asp-action="Download" asp-route-id="@firstFile.ID">@firstFile.FileName</a>
                                }
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Consent)</th>
                    <td>@Html.DisplayFor(model => model.Consent)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row" style="margin: 0 auto; padding: 10px; justify-content:center;">
    <div class="form-group" style="padding-right: 20px">
        <a asp-action="Index" class="btn btn-primary">Back</a>
    </div>
    <div class="form-group">
        <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-info">Edit</a>
    </div>
</div>
@section Scripts {
	<script type="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').popover();
        });
	</script>
}
