@model PinewoodGrow.Models.Member

@{
    ViewData["Title"] = "Edit";
}

<h1 style="text-align: center;">@Html.DisplayFor(model => model.FullName)</h1>

<h4>Edit</h4>
<hr />
<form asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderID" class="control-label"></label>
                <select asp-for="GenderID" class="form-control" asp-items="ViewBag.GenderID"></select>
                <span asp-validation-for="GenderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.FullAddress" class="control-label"></label>
                <input asp-for="Address.FullAddress" class="form-control" />
                <span asp-validation-for="Address.FullAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.City" class="control-label"></label>
                <input asp-for="Address.City" class="form-control" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.PostalCode" class="control-label"></label>
                <input asp-for="Address.PostalCode" class="form-control" />
                <span asp-validation-for="Address.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FamilySize" class="control-label"></label>
                <input asp-for="FamilySize" class="form-control" />
                <span asp-validation-for="FamilySize" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Consent" /> @Html.DisplayNameFor(model => model.Consent)
                </label>
            </div>

        </div>
        <div class="col-md-6">

            <div class="form-group">
                <label asp-for="Income" class="control-label"></label>
                <input asp-for="Income" class="form-control" />
                <span asp-validation-for="Income" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.MemberDietaries)</label>
                <div class="col-md-offset-1">
                    <table>
                        <tr>
                            @{
                                int cntD = 0;
                                List<PinewoodGrow.ViewModels.CheckOptionVM> dietaryCheckboxes = ViewBag.DietaryOptions;
                                foreach (var checkbox in dietaryCheckboxes)
                                {
                                    if (cntD++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedDietaryOptions"
                                               value="@checkbox.ID"
                                               @(Html.Raw(checkbox.Assigned ? "checked=\"checked\"" : "")) />
                                        @checkbox.DisplayText @:&nbsp;&nbsp;
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>

                    <div class="form-group">
                        <label class="control-label">@Html.DisplayNameFor(model => model.MemberSituations)</label>
                        <div class="col-md-offset-1">
                            <table>
                                <tr>
                                    @{
                                        int cntS = 0;
                                        List<PinewoodGrow.ViewModels.CheckOptionVM> situationCheckboxes = ViewBag.SituationOptions;
                                        foreach (var checkbox in situationCheckboxes)
                                        {
                                            if (cntS++ % 3 == 0)
                                            {
                                            @:</tr><tr>
                                            }
                                            @:<td>
                                                <input type="checkbox"
                                                       name="selectedSituationOptions"
                                                       value="@checkbox.ID"
                                                       @(Html.Raw(checkbox.Assigned ? "checked=\"checked\"" : "")) />
                                                @checkbox.DisplayText @:&nbsp;&nbsp;
                                            @:</td>
                                        }
                                    @:</tr>
                                    }
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="CompletedBy" class="control-label"></label>
                            <input asp-for="CompletedBy" class="form-control" />
                            <span asp-validation-for="CompletedBy" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CompletedOn" class="control-label"></label>
                            <input asp-for="CompletedOn" class="form-control" />
                            <span asp-validation-for="CompletedOn" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="HouseholdID" class="control-label"></label>
                            <select asp-for="HouseholdID" class="form-control" asp-items="ViewBag.HouseholdID"></select>
                            <span asp-validation-for="HouseholdID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Notes" class="control-label"></label>
                            <textarea asp-for="Notes" class="form-control"></textarea>
                            <span asp-validation-for="Notes" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label"> Current Documents:</label>
                            <div class="ml-md-3">
                                @{
                                    int fileCount = Model.MemberDocuments.Count;
                                    if (fileCount > 0)
                                    {
                                        var firstFile = Model.MemberDocuments.FirstOrDefault(); ;
                                        if (fileCount > 1)
                                        {
                                            <a class="" role="button" data-toggle="collapse" href="#collapseSum@(Model.ID)" aria-expanded="false" aria-controls="collapseSum@(Model.ID)">
                                                <span class="badge badge-info">@fileCount</span> Current Documents...
                                            </a>
                                            <div class="collapse" id="collapseSum@(Model.ID)">
                                                @{
                                                    foreach (var d in Model.MemberDocuments)
                                                    {
                                                        <a asp-action="Download" asp-route-id="@d.ID">@d.FileName</a> <br />
                                                    }
                                                }
                                            </div>
                                        }
                                        else
                                        {
                                            <a asp-action="Download" asp-route-id="@firstFile.ID">@firstFile.FileName</a>
                                        }
                                    }
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Upload Additional Documents:</label>
                            <input type="file" class="" name="theFiles" multiple="multiple" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="row" style="margin: 0 auto; padding: 10px; align-content: center; justify-content:center;">
                <div class="form-group" style="padding-right: 20px">
                    <a asp-action="Index" class="btn btn-primary">Back</a>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-info" />
                </div>
            </div>
        </form>
@*
<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
