@model IEnumerable<PinewoodGrow.Models.DataPoint>
@{
    ViewData["Title"] = "Index";
}

<h1></h1>

<link rel="stylesheet" href="/css/Index.css?version=2" />

<div class="actionsContainer-index" style="top: 45px;">
    <div class="btn-index">
        <a style="width: 150px;" asp-action="DownloadReport">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
            </svg>
            <span> Download</span>
        </a>
    </div>
</div>

@*<script>
    window.onload = function () {

    var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        theme: "light2", // "light1", "light2", "dark1", "dark2"
        title: {
            text: "Member's report by Income",
            fontSize: 30,
            padding: 30
        },
        axisY: {
            title: "No. of Member",
            labelAutoFit: true,
            titleFontSize: 20
        },
        dataPointWidth: 50,
        data: [{
            type: "column",
            indexLabelFontSize: 10,
            fontSize: 20,
            dataPoints: @Html.Raw(ViewData["graphData"])
        }]
    });
    chart.render();

    }
    </script>
    <div id="chartContainer" style="height: 500px; width:90%; margin:auto;"></div>*@


<link rel="stylesheet" href="/css/MapStyle.css" />

<h1 class="title" style="margin-top: 100px;">Member's report by Income</h1>
<br />
<div>
    <canvas id="growChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var Label = [];
    var Y = [];

    @{
        List<PinewoodGrow.Models.DataPoint> Points = ViewBag.graphData;
        foreach (var point in Points)
        {
                  <text>
                        Label.push("@point.Label");
                        Y.push(@point.Y);
                  </text>
        }
    }


    const labels = Label;
    const data = {
        labels: labels,
        datasets: [{
            label: "Range of Income",
            data: Y,
            backgroundColor: ['#3caf85', '#309fdb', '#854e9b', '#fbce4a', '#e95b54', '#fbb84aff', '#fb4ab0', '#93fb4a', '#1c0048'],
            barThickness: 50
        }]
    };

    const config = {
        type: 'bar',
        data: data,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        },
    };

</script>
<script>
    const myChart = new Chart(
        document.getElementById('growChart'),
        config
    );
</script>



<br />
<div style="padding:70px;">
    <table class="table table-striped" style="width:100%; margin:auto;">
        <thead>
            <tr>
                <th>
                    Range of Income
                </th>
                <th>
                    No. of Member
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewData["tableData"] as List<DataPoint>)
            {
                <tr>
                    <td>
                        @item.Label
                    <td>
                        @item.Y
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


