@model PinewoodGrow.ViewModels.VolunteerVM

@{
    ViewData["Title"] = "Account";
}

<h2>Account for: @Model.FullName</h2>


<div>
    <br />
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.FirstName)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.LastName)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Phone)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Email)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.LastName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Email)
                </td>

            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="form-group" style="padding-right: 20px">
        <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary d-print-none">Edit Account Details</a>
    </div>
</div>


