@model PinewoodGrow.Models.Household

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Household</h4>
<hr />
<form asp-action="Edit" enctype="multipart/form-data">


    @{
        Address addressInfo = ViewBag.AddressInfo;
    }
    <input type="hidden" id="Lat" name="Lat" value="@addressInfo.Latitude" />
    <input type="hidden" id="Lng" name="Lng" value="@addressInfo.Longitude" />
    <input type="hidden" id="AddressName" name="AddressName" value="@addressInfo.FullAddress" />
    <input type="hidden" id="PlaceID" name="placeID" value="@addressInfo.PlaceID" />
    <input type="hidden" id="city" name="city" value="@addressInfo.City" />
    <input type="hidden" id="IsFixedAddress" name="IsFixedAddress" value="true" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <input type="hidden" asp-for="ID" />
            @*<div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="LICO" /> @Html.DisplayNameFor(model => model.LICO)
                    </label>
                </div>*@
            <div class="form-group">
                <label asp-for="FamilyName" class="control-label"></label>
                <input asp-for="FamilyName" class="form-control" />
                <span asp-validation-for="FamilyName" class="text-danger"></span>
            </div>
            <div class="custom-control custom-switch m-3">
                <input type="checkbox" checked="checked" class="custom-control-input green" id="chkFixed" style="">
                <label class="custom-control-label green" for="chkFixed">Fixed Address</label>
            </div>
            <div class="form-group">
                <label class="control-label">Address</label>
                <input value="@addressInfo.FullAddress" class="form-control" id="autocomplete" />

            </div>
            <div class="form-group">
                <label class="control-label">Postal Code</label>
                <input class="form-control" id="postal" name="postal" value="@addressInfo.PostalCode" />
            </div>
        </div>
    </div>
    <div class="row" style="margin: 0 auto; padding: 10px; align-content: center; justify-content: center;">
        <div class="form-group" style="padding-right: 20px">
            <a asp-action="Details" asp-route-id="@Model.ID" class="btn btn-primary">Back</a>
        </div>
        <div class="form-group">
            <input type="submit" id="btnSubmit" value="Save" class="btn btn-info" />
        </div>
    </div>
</form>
<script>
    document.getElementById("chkFixed").addEventListener("click",
        function() {
            if (this.checked) {
                document.getElementById("autocomplete").disabled = false;
                document.getElementById("postal").disabled = false;
                document.getElementById("IsFixedAddress").value = true;

            } else {
                document.getElementById("autocomplete").disabled = true;
                document.getElementById("postal").disabled = true;
                document.getElementById("IsFixedAddress").value = false;
            }


        });
    window.addEventListener("load", function () {
        @{
            
        Address address = ViewBag.AddressInfo;
            var chk = address.FullAddress != "No Fixed Address";

            <text>
      if ("@address.FullAddress" === "No Fixed Address") {
          document.getElementById("chkFixed").checked = false;
          document.getElementById("autocomplete").disabled = true;
          document.getElementById("postal").disabled = true;
          document.getElementById("IsFixedAddress").value = false;
      }

            </text>

        }
       
    });
</script>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/multiselect.js"></script>
}

<script src="~/js/GeoLocateAutoComplete.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBL-MHoHXLeE8E2WJKgnX60Rq03qo9EYxU&libraries=places&callback=initAutocomplete" async defer></script>