@model IEnumerable<PinewoodGrow.Models.Household>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>2
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LICO)
            </th>
            <th>
                Family Name
            </th>
            <th>
                Family Size
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HouseIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LICO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Members.FirstOrDefault().LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Members.Count)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
