@model IEnumerable<PinewoodGrow.Models.DataPoint>
@{
    ViewData["Title"] = "Index";
}

<h1></h1>

<link rel="stylesheet" href="/css/Index.css?version=2" />

<div class="actionsContainer-index" style="top: 45px;">
    <div class="btn-index">
        <a style="width: 150px;" asp-action="DownloadReport">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
            </svg>
            <span> Download</span>
        </a>
    </div>
</div>

@*<a asp-action="DownloadReport" class="btn btn-info float-right">
    <text class="d-none d-md-inline">Download Income Source Report</text>
</a>*@

@*<script>
    window.onload = function () {

    var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        theme: "light2", // "light1", "light2", "dark1", "dark2"
        title: {
            text: "Member's report by Income Source",
            fontSize: 30,
            padding: 30
        },
        axisY: {
            title: "No. of Member",
            labelAutoFit: true,
            titleFontSize: 20
        },
        dataPointWidth: 50,
        data: [{
            type: "column",
            indexLabelFontSize: 10,
            fontSize: 20,
            dataPoints: @Html.Raw(ViewData["graphData"])
        }]
    });
    chart.render();

    }
    </script>
    <div id="chartContainer" style="height: 500px; width:90%; margin:auto;"></div>*@

<link rel="stylesheet" href="/css/MapStyle.css" />

<h1 class="title" style="margin-top: 100px;">Member's report by Income Source</h1>
<br />
<div>
    <canvas id="growChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var Label = [];
    var Y = [];

    @{
        List<PinewoodGrow.Models.DataPoint> Points = ViewBag.graphData;
        foreach (var point in Points)
        {
                  <text>
                        Label.push("@point.Label");
                        Y.push(@point.Y);
                  </text>
        }
    }


    const labels = Label;
    const data = {
        labels: labels,
        datasets: [{
            label: "Income Source",
            data: Y,
            backgroundColor: ['#3caf85', '#309fdb', '#854e9b', '#fbce4a', '#e95b54', '#fbb84aff', '#fb4ab0', '#93fb4a', '#1c0048'],
            barThickness: 50
        }]
    };

    const config = {
        type: 'bar',
        data: data,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        },
    };


    const myChart = new Chart(
        document.getElementById('growChart'),
        config
    );
</script>
<br />


<h1 class="title" style="margin-top: 50px;">Total Member Income By Source</h1>
<br />
<div style="width:70%; margin: auto;">
    <canvas id="IncomeBySource"></canvas>
</div>
<script>
    var Names = [];
    var IncomeData = [];

    @{
        List<PinewoodGrow.Models.DataPoint> P = ViewBag.IncomeStats;
        foreach (var point in P)
        {
            <text>
                Names.push('@point.Label');
                IncomeData.push(@point.Y);
            </text>
        }

    }



    const dataSet = {
        labels: Names,
        datasets: [{
            label: 'My First Dataset',
            data: IncomeData,
            backgroundColor: ['#3caf85', '#309fdb', '#854e9b', '#fbce4a', '#e95b54', '#fbb84aff', '#fb4ab0', '#93fb4a', '#1c0048'],
            hoverOffset: 4
        }]
    };

    //const dataSet = {
    //    labels: ["ODSP", "Ontario Works", "EI", "GAINS (For Seniors)", "CPP-Disability", "Post-Sec. Student", "Other", "Employed"],
    //    datasets: [{
    //        label: 'My First Dataset',
    //        data: [5227, 6235, 9262, 9150, 17304, 8421, 0, 12355],
    //        backgroundColor: ['#3caf85', '#309fdb', '#854e9b', '#fbce4a', '#e95b54', '#fbb84aff', '#fb4ab0', '#93fb4a', '#1c0048'],
    //        hoverOffset: 4
    //    }]
    //};

    const pieConfig = {
        type: 'pie',
        data: dataSet,
        options: {
            plugins: {
                title: {
                    display: true,
                    text: "Income Source",
                    font: {
                        size: 20,
                        lineHeight: 1.2
                    }
                }
            },
        }
    };

    //const pieConfig = {
    //    type: 'bar',
    //    data: dataSet,
    //    options: {
    //        scales: {
    //            y: {
    //                beginAtZero: true
    //            }
    //        }
    //    },
    //};

    const IncomeMemberChart = new Chart(
        document.getElementById('IncomeBySource'),
        pieConfig
    );
</script>


<br />
<div style="padding:70px;">
    <table class="table table-striped" style="width:100%; margin:auto;">
        <thead>
            <tr>
                <th>
                    Income Source
                </th>
                <th>
                    No. of Member
                </th>
                <th>
                    Total Income
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewData["tableData"] as List<DataPointIncome>)
            {
                <tr>
                    <td>
                        @item.Label
                    <td>
                        @item.Y
                    <td>
                        @String.Format("{0:C0}", item.Income)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

